torch
langchain
chromadb
transformers
groq
sentence_transformers
langchain-community 
langchain-core 
transformers 
faiss-cpu 
sentence-transformers
fastembed
langchain_experimental
langchain_openai
streamlit
requests
langchain_groq
langchain_chroma

